 ______________________________________ 
/ You are not in a virtual environment \
\ freeze                               /
 -------------------------------------- 
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||
